# Core environment
jupyterlab
ipython
tqdm
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn

# Geospatial & visualization
geopandas
matplotlib-scalebar
windrose
pyffp
graphviz

# Structural equation modeling
semopy

# Utilities
warnings
